node_modules
tmp

website/build

monitor/data/*
monitor/run

template-repo/data/*
template-repo/.git
template-repo/run
!template-repo/public/index.html
!template-repo/.gitlab-ci.yml
!template-repo/data/.gitkeep
!template-repo/data/config.json
!template-repo/public/index.html
template-repo/public/*
