@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.section {
		@apply mb-8;
	}

	.section--loading .section__title h2 {
		@apply w-32 bg-gray-400 rounded-sm animate-pulse;
	}

	.section__title {
		@apply mb-3 flex justify-between items-baseline;
	}

	.section__title h2 {
		@apply text-2xl;
	}

	.section__title span {
		@apply align-text-bottom;
	}

	.card {
		@apply mb-3 border border-l-4 p-4 rounded-sm relative;
	}
	.card--loading {
		@apply animate-pulse border-gray-400 bg-gray-100;
	}
	.card--loading h4 {
		@apply w-28 bg-gray-400;
	}
	.card--default {
		@apply border-green-500 bg-white;
	}
	.card--danger {
		@apply border-red-600 bg-red-100;
	}
	.card--grid {
		min-height: calc(107px + 0.125rem);
		padding-right: calc(160px + 0.125rem);
	}

	.card h4 {
		@apply font-bold mb-2;
	}
	.card img {
		width: 17px;
		height: 17px;

		@apply inline align-middle;
	}

	.card__chart {
		width: 160px;
		height: 107px;

		@apply absolute bottom-0 right-0 overflow-hidden;
	}

	table.chart {
		@apply w-full h-full block;
	}

	table.chart thead,
	table.chart tbody tr > * {
		@apply hidden;
	}

	table.chart tbody {
		@apply flex flex-row content-start items-end relative h-full w-full;
	}
	table.chart tbody tr {
		width: var(--chart-col-w);
		height: var(--chart-col-h);
		min-height: 5px;

		@apply inline-block relative;
	}
	#tooltip {
		@apply block rounded-md border fixed border-gray-400 invisible;
	}
}
