@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.section {
		@apply mb-8;
	}

	.section--loading .section__title h2 {
		@apply w-32 bg-gray-400 rounded-sm animate-pulse;
	}

	.section__title {
		@apply mb-3 flex justify-between items-baseline;
	}

	.section__title h2 {
		@apply text-2xl;
	}

	.section__title span {
		@apply align-text-bottom;
	}

	.card {
		@apply mb-3 border border-l-4 p-4 rounded-sm relative;
	}
	.card--loading {
		@apply animate-pulse border-gray-400 bg-gray-100;
	}
	.card--loading h4 {
		@apply w-28 bg-gray-400;
	}
	.card--default {
		@apply border-green-500 bg-white;
	}
	.card--danger {
		@apply border-red-600 bg-red-100;
	}
	.card--grid {
		min-height: calc(107px + 0.125rem);
		padding-right: calc(160px + 0.125rem);
	}

	.card h4 {
		@apply font-bold mb-2;
	}
	.card img {
		width: 17px;
		height: 17px;

		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

		@apply rounded-full;
	}
	.card a:hover img {
		box-shadow: 0px 0px 5px 0px rgba(59, 130, 246, 1);
		-webkit-box-shadow: 0px 0px 5px 0px rgba(59, 130, 246, 1);
		-moz-box-shadow: 0px 0px 5px 0px rgba(59, 130, 246, 1);
	}

	.card__chart {
		width: 160px;
		height: 107px;

		@apply absolute bottom-0 right-0 overflow-hidden;
	}
}
